html,body{
  width: 100%;
  height: 100%;
  background-color: #ededed;
}
.content{
  width: 100%;
  height: 100%;
}
.workplace{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #eee;
}
.controllnav{
  width: 18%;
  height: 100%;
  background-color: #fff;
  float: left;
  position: relative;
  overflow-y: scroll;
}

.chaps{
  width: 100%;
  height: 70px;
  background-color: #fff;
  position: absolute;
}
.newchap{
  width: 50%;
  height: 60px;
  margin-left: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
  top: 20px;
}
.chap{
  width: 100%;
  height: 120px;
  background-color: #fa8072;
  border-bottom: #f43e4b solid;
  position: relative;
}
.subchap{
  width: 100%;
  height: 120px;
  background-color: #c6e2ff;
  border-bottom: #b2dfee solid;
  position: relative;
}
