*{
  box-sizing:content-box;
  margin:0;
  padding:0;
}
html,body{
  width: 100%;
  height: 100%;
  background-color: #ededed;
}
/*全局*/
.parent{
  display: flex;
  flex-direction: column;
}
/*头部*/
.header{
  height:10%;
  background: #aaa;
}
/*尾部*/
.bottom{
  height:5%;
  background: #aaa;
}
/*中间主体*/
.main{
  flex:1;
  display:flex;
}

.chapIndex{
  display: flex;
  width: 480px;
  background: #555;
}
/*主章节部分*/
.left1{
  width:200px;
  background: #555;
}
  .fatherChap{
  }
  .newChap{
    width: 60px;
    height: 40px;
    margin-left: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .chapBox{
    background: #ee735c;
    position: relative;
    overflow: hidden;
  }
  .delBtn{
    position: absolute;
    top: 0
  }
  .inputChap{
    position: absolute;
    top: 21px;
    width: 246px;
    display: none;
  }

/*子章节部分*/
.left2{
  width:230px;
  background: #777;
}
  .newchild{
    width: 100%;
    height: 23px;
    text-align: center;
  }
  .childChapBox{
    width: 100%;
    background: #ee735c;
    display: block;
  }
  .childItem{
    position: relative;
  }
  .inputChild{
    position: absolute;
    top: 0;
    width: 90%;
    display: none;
  }


/*富文本部分*/
.center{
  flex: 1;
  overflow: auto;
  /*background:pink;*/
}
  .center .inner{
    min-height: 1000px;
    width: 97.2%;
  }

  .reactmd{
    /*position: absolute;
    top: 415px;
    bottom: 0;
    left: 0;
    right: -17px;
    overflow-y: scroll;*/
  }
  /*word版本富文本部分*/
  .editorInput{
    height: 200px;
    width: 100%;
  }
/*Tip 部分*/
.right{
  width: 300px;
  background: #777;
}


/*树状图部分*/
.tree{
  width: 100%;
  height:1000px;
  background-color: #fff;
  z-index: 111;
}
.chapLine{
  width: 100%;
  height: 100px;
  background-color: #faa;
  margin-bottom: 10px;
  display: block;
}
.chapRow{
  width: 15%;
  height: 100px;
  background-color: #a33;
  margin-right: 5px;
  margin-bottom: 10px;
  float: left;
}
.childRow{
  width: 10%;
  height: 100%;
  background-color: #df2;
  margin-right: 3px;
  float: left;
}
.treebtn{
  bottom: 15px;
  position: fixed;
  width: 165px;
}
.backbtn{
  bottom: 15px;
  left: 200px;
  position: fixed;
  z-index: 1111;
  display: none;
}
.mask{
  width: 430px;
  position: fixed;
  z-index: 111;
  display: none;
}
